[Unit]
Description=kanata daemon service
Documentation=https://github.com/jtroo/kanata

[Service]
Type=forking
ExecStart=/usr/bin/sh -c 'sudo -b $(which kanata) -c "$HOME/.config/kanata/kanata.kbd"'
KillMode=control-group

RestartSec=2

[Install]
WantedBy=default.target
