[submodule "/home/missael/.local/share/yadm-project"]
	path = /home/missael/.local/share/yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "/home/missael/.config/nvim"]
	path = /home/missael/.config/nvim
	url = git@github.com:DeadKper/nvim.git
